main{
  min-height: 80vh;
}

strong{
  font-weight: bold;
}

h3 {
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

.rating span{
  margin: 0.1rem
}

#text{
}

.selectForm{
  padding: 0.75rem 0.2rem;
}

#col-4{
  padding: 0.73rem 0.2rem;
}

#fg-1{
  padding: 0.6rem 0.2rem;
}

#fg-2{
  padding: 0.7rem 0.2rem;
}

#fg-3{
  padding: 0.2rem 0rem 0.75rem 0rem;
}

#icon-1{
  color: red
}

#icon-2{
  color: green;
}

.btn-primary-outline {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}


/* #col-1{
  padding: 0.73rem 0.2rem 4.23rem 1.2rem;
} */
